<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(content=~{::#content}, title=~{::title}, script=~{::script})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
    <style>
  
        </style>
</head>
<body>
    <div id="content">
        <h1>welcome to home page</h1>
    </div>
    <script>
        console.log("about page")
       </script>
    
    <!-- flowbite content -->
     



     <!-- flowbite content end-->
</body>
</html>