<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(content=~{::#content}, title=~{::title}, script=~{::script})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th-text="${loggedinUser.name}+'| SCM">profile page</title>
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
    
</head>
<body>
    <div id="content">
        <!-- sidebar -->

        

<div th:if="${loggedInUser}">
    <div data-th-replace="~{user/sidebar :: sidebar}"></div>
    </div>

    
    <div  class="sm:pl-64 pt-20" style="height:1000px;">
        <h1 class="text-5xl">This Is Our User Profile Page.</h1>
    <h1 data-th-text="${loggedInUser.name}"></h1>
    <h1 data-th-text="${loggedInUser.email}"></h1>

    <!-- jodi user logged in ache tahole -->
    <div th:if="${loggedInUser}">
        <h1>User Is Logged in </h1>
        <h1>This Is User Logged In Section</h1>
    </div>

    </div>
</div>
    <script>
        console.log("about page")
       </script>
    
    <!-- flowbite content -->
     

    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>

     <!-- flowbite content end-->
</body>
</html>