<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This Is Our User Profile Page.</h1>
    <h1 data-th-text="${loggedInUser.name}"></h1>
    <h1 data-th-text="${loggedInUser.email}"></h1>

    <!-- jodi user logged in ache tahole -->
    <div th:if="${loggedInUser}">
        <h1>User Is Logged in </h1>
        <h1>This Is User Logged In Section</h1>
    </div>
</body>
</html>